<header class="workspace-header-area bg-white workspace-border-bottom-radius workspace-box-shadow workspace-mb-25"
  [ngClass]="{'active': isToggled, 'sticky': isSticky}">
  <div class="workspace-d-md-flex workspace-align-items-center workspace-justify-content-space-between">
    <div class="workspace-header-left-side workspace-d-flex workspace-align-items-center">
      <button mat-icon-button [matMenuTriggerFor]="appsMenu"
        class="menu-btn rounded-circle workspace-p-0 border-none workspace-position-relative">
        <i class="flaticon-menu-1"></i>
      </button>
      <mat-menu class="menu-dropdown" #appsMenu="matMenu" xPosition="after">
        <div class="menu-header workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
          <workspace-h5 class="m-0">Web Apps</workspace-h5>
          <button type="button" class="bg-transparent workspace-p-0 border-none">Edit</button>
        </div>
        <div class="menu-body">
          <div class="workspace-d-flex workspace-flex-wrap workspace-align-items-center">
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/account.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Account</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/google.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Search</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/map.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Maps</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/youtube.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">YouTube</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/playstore.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Play</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/gmail.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Gmail</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/drive.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Drive</span>
            </a>
            <a href="#" class="dropdown-item" target="_blank">
              <img src="../../../assets/img/web-apps/calendar.png" alt="image">
              <span class="workspace-d-block workspace-mb-0 workspace-fw-medium">Calendar</span>
            </a>
          </div>

        </div>
        <div class="menu-footer">
          <a routerLink="/" class="fw-medium workspace-position-relative">View All <i class="flaticon-chevron"></i></a>
        </div>
      </mat-menu>
      <form class="search-box workspace-position-relative">
        <input type="text" class="input-search workspace-d-block" placeholder="Search here..">
        <button type="submit"><i class="ri-search-line"></i></button>
      </form>
    </div>
    <ul
      class="workspace-header-right-side workspace-d-flex  workspace-align-items-center workspace-mt-0 workspace-mb-0">
      <li>
        <button mat-icon-button [matMenuTriggerFor]="emailMenu"
          class="btn workspace-p-0 border-none rounded-circle workspace-position-relative">
          <i class="flaticon-envelope"></i>
        </button>
        <mat-menu class="menu-dropdown" #emailMenu="matMenu" xPosition="before">
          <div class="menu-header workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
            <workspace-h5 class="m-0">Emails</workspace-h5>
            <button type="button" class="bg-transparent workspace-p-0 border-none">Mark all as read</button>
          </div>
          <ul class="menu-body">
            <li class="workspace-position-relative">
              <div class="workspace-d-flex align-items-center">
                <img src="../../../assets/img/user/user1.jpg" class="rounded-circle" alt="user">
                <div class="title">
                  <h6>Invoices have been paid</h6>
                  <span><i class="flaticon-timer"></i> 14 mins ago</span>
                </div>
              </div>
              <a routerLink="/email/read" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
            <li class="workspace-position-relative">
              <div class="workspace-d-flex align-items-center">
                <img src="../../../assets/img/user/user2.jpg" class="rounded-circle" alt="user">
                <div class="title">
                  <h6>Allow users to like products</h6>
                  <span><i class="flaticon-timer"></i> 30 mins ago</span>
                </div>
              </div>
              <a routerLink="/email/read" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
            <li class="workspace-position-relative">
              <div class="workspace-d-flex align-items-center">
                <img src="../../../assets/img/user/user4.jpg" class="rounded-circle" alt="user">
                <div class="title">
                  <h6>Your leave is approved</h6>
                  <span><i class="flaticon-timer"></i> 2 hours ago</span>
                </div>
              </div>
              <a routerLink="/email/read" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
            <li class="workspace-position-relative">
              <div class="workspace-d-flex workspace-align-items-center">
                <img src="../../../assets/img/user/user5.jpg" class="rounded-circle" alt="user">
                <div class="title">
                  <h6>Live visits on our site</h6>
                  <span><i class="flaticon-timer"></i> 5 hours ago</span>
                </div>
              </div>
              <a routerLink="/email/read" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
          </ul>
          <div class="menu-footer">
            <a routerLink="/email" class="workspace-fw-medium workspace-position-relative">View All <i
                class="flaticon-chevron"></i></a>
          </div>
        </mat-menu>
      </li>
      <li>
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu"
          class="btn p-0 border-none rounded-circle workspace-position-relative notification-btn">
          <i class="flaticon-bell-2"></i>
        </button>
        <mat-menu class="menu-dropdown" #notificationMenu="matMenu" xPosition="before">
          <div class="menu-header workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
            <workspace-h5 class="m-0">Notifications</workspace-h5>
            <button type="button" class="bg-transparent p-0 border-none">Mark all as read</button>
          </div>
          <ul class="menu-body">
            <li class="workspace-position-relative">
              <div class="workspace-d-flex">
                <i class="flaticon-file-1 icon"></i>
                <div class="workspace-title">
                  <h6>8 Invoices have been paid</h6>
                  <span><i class="flaticon-timer"></i> 14 mins ago</span>
                </div>
              </div>
              <a routerLink="/notifications" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
            <li class="workspace-position-relative">
              <div class="workspace-d-flex workspace-align-items-center">
                <i class="flaticon-pdf-file icon"></i>
                <div class="workspace-title">
                  <h6>Allow users to like products</h6>
                  <span><i class="flaticon-timer"></i> 30 mins ago</span>
                </div>
              </div>
              <a routerLink="/notifications" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
            <li class="workspace-position-relative">
              <div class="workspace-d-flex workspace-align-items-center">
                <i class="flaticon-to-do-list icon"></i>
                <div class="workspace-title">
                  <h6>Live visits on our site</h6>
                  <span><i class="flaticon-timer"></i> 5 hours ago</span>
                </div>
              </div>
              <a routerLink="/notifications" class="link-btn"></a>
              <button class="close-btn bg-transparent border-none workspace-p-0"><i class="flaticon-close"></i></button>
            </li>
          </ul>
          <div class="menu-footer">
            <a routerLink="/notifications" class="workspace-fw-medium workspace-position-relative">View All <i
                class="flaticon-chevron"></i></a>
          </div>
        </mat-menu>
      </li>
      <li>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu"
          class="workspace-profile-btn main-color border-none bg-transparent workspace-position-relative">
          <img src="../../../assets/img/admin.jpg" class="rounded-circle" alt="admin">
          Admin
          <span class="workspace-fw-semibold">Adison Jack</span>
        </button>
        <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
          <ul class="m-0">
            <li>
              <a routerLink="/profile">
                <i class="ri-user-3-line"></i> Profile
              </a>
            </li>
            <li>
              <a routerLink="/account">
                <i class="ri-settings-3-line"></i> Settings
              </a>
            </li>
            <li>
              <a routerLink="" (click)="logout()">
                <i class="ri-shut-down-line"></i> Logout
              </a>
            </li>
          </ul>
        </mat-menu>
      </li>
    </ul>
  </div>
</header>
