<div class="workspace-create-dialog-box">
  <div class="workspace-title workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
      <h4 class="workspace-mb-0">Rename Project</h4>
      <button class="close-btn bg-transparent workspace-p-0 border-none" (click)="hide()"><i class="flaticon-close"></i></button>
  </div>
  <form>
      <div class="workspace-form-group">
          <label class="workspace-d-block workspace-fw-semibold">Project Name</label>
          <input matInput [(ngModel)]="projectNewName" name="renameProject" class="input-folder-name">
      </div>
      <div class="text-end">
          <button type="button" (click)="save()"><i class="ri-edit-line"></i>Rename</button>
      </div>
  </form>
</div>
