<div class="workspace-row" style="background-color: rgba(0, 0, 0, 0.05); padding-top: 25px; border-radius: 8px; align-items: center;">
  <div class="workspace-col-sm-6 workspace-col-md-6 workspace-col-lg-4 workspace-col-xl-4 workspace-col-xxl-3">
      <mat-card class="workspace-mb-25 workspace-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <workspace-h5 class="workspace-mb-0">Alvarado Turner</workspace-h5>
              <button type="button" mat-button class="workspace-position-relative dot-btn workspace-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="../../../assets/img/user/user12.jpg" class="rounded-circle workspace-mb-15" width="150" alt="user">
              <span class="workspace-d-block gray-color workspace-fw-medium">&#64;alvaradoturner</span>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="workspace-col-sm-6 workspace-col-md-6 workspace-col-lg-4 workspace-col-xl-4 workspace-col-xxl-3">
      <mat-card class="workspace-mb-25 workspace-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <workspace-h5 class="workspace-mb-0">Evangelina Mcclain</workspace-h5>
              <button type="button" mat-button class="workspace-position-relative dot-btn workspace-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="assets/img/user/user13.jpg" class="rounded-circle workspace-mb-15" width="150" alt="user">
              <span class="workspace-d-block gray-color workspace-fw-medium">&#64;evangelinamcclain</span>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="workspace-col-sm-6 workspace-col-md-6 workspace-col-lg-4 workspace-col-xl-4 workspace-col-xxl-3">
      <mat-card class="workspace-mb-25 workspace-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <workspace-h5 class="workspace-mb-0">Candice Munoz</workspace-h5>
              <button type="button" mat-button class="workspace-position-relative dot-btn workspace-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="assets/img/user/user11.jpg" class="rounded-circle workspace-mb-15" width="150" alt="user">
              <span class="workspace-d-block gray-color workspace-fw-medium">&#64;candicemunoz</span>
          </mat-card-content>
      </mat-card>
  </div>
</div>
