<div class="dashboard-row" style="background-color: rgba(0, 0, 0, 0.05); padding-top: 25px; border-radius: 8px; align-items: center;">
  <div class="dashboard-col-sm-6 dashboard-col-md-6 dashboard-col-lg-4 dashboard-col-xl-4 dashboard-col-xxl-3">
      <mat-card class="dashboard-mb-25 dashboard-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <dashboard-h5 class="dashboard-mb-0">Alvarado Turner</dashboard-h5>
              <button type="button" mat-button class="dashboard-position-relative dot-btn dashboard-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="../../../assets/img/user/user12.jpg" class="rounded-circle dashboard-mb-15" width="150" alt="user">
              <span class="dashboard-d-block gray-color dashboard-fw-medium">&#64;alvaradoturner</span>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="dashboard-col-sm-6 dashboard-col-md-6 dashboard-col-lg-4 dashboard-col-xl-4 dashboard-col-xxl-3">
      <mat-card class="dashboard-mb-25 dashboard-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <dashboard-h5 class="dashboard-mb-0">Evangelina Mcclain</dashboard-h5>
              <button type="button" mat-button class="dashboard-position-relative dot-btn dashboard-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="assets/img/user/user13.jpg" class="rounded-circle dashboard-mb-15" width="150" alt="user">
              <span class="dashboard-d-block gray-color dashboard-fw-medium">&#64;evangelinamcclain</span>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="dashboard-col-sm-6 dashboard-col-md-6 dashboard-col-lg-4 dashboard-col-xl-4 dashboard-col-xxl-3">
      <mat-card class="dashboard-mb-25 dashboard-text-center tagus-card">
          <mat-card-header class="border-bottom">
              <dashboard-h5 class="dashboard-mb-0">Candice Munoz</dashboard-h5>
              <button type="button" mat-button class="dashboard-position-relative dot-btn dashboard-p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
                  <i class="ri-more-fill"></i>
              </button>
              <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-add-circle-line"></i> Add
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-delete-bin-6-line"></i> Delete
                  </button>
                  <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                      <i class="ri-restart-line"></i> Refresh
                  </button>
              </mat-menu>
          </mat-card-header>
          <mat-card-content>
              <img src="assets/img/user/user11.jpg" class="rounded-circle dashboard-mb-15" width="150" alt="user">
              <span class="dashboard-d-block gray-color dashboard-fw-medium">&#64;candicemunoz</span>
          </mat-card-content>
      </mat-card>
  </div>
</div>
