<div class="dashboard-row">
  <div class="dashboard-col-sm-6">
      <mat-card class="dashboard-mb-25 p-team-card tagus-card">
          <mat-card-header>
              <div>
                  <dashboard-h5 class="dashboard-mb-8">UI/UX Design Team</dashboard-h5>
                  <p>Contrary to popular belief, lorem Ipsum is not simply</p>
              </div>
              <div>
                  <button type="button" mat-button class="dashboard-position-relative dot-btn dashboard-p-0 border-none" [matMenuTriggerFor]="monthMenu">
                      <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Open Project
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Edit
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Delete
                      </button>
                  </mat-menu>
              </div>
          </mat-card-header>
          <mat-card-content>
              <div class="dashboard-d-flex dashboard-align-items-center dashboard-justify-content-space-between">
                  <div class="dashboard-d-flex dashboard-align-items-center">
                      <img src="../../../assets/img/user/user12.jpg" class="rounded-circle" width="60" alt="user">
                      <div class="dashboard-title ms-15">
                          <dashboard-h5 class="dashboard-mb-5">Jason Haston</dashboard-h5>
                          <span class="dashboard-d-block main-color">Team Leader</span>
                      </div>
                  </div>
                  <div class="list">
                      <div class="images dashboard-d-flex dashboard-align-items-center">
                          <img src="../../../assets/img/user/user15.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user17.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user16.jpg" class="rounded-circle" width="40" alt="user">
                          <div class="d-inline-block rounded-circle dashboard-fw-semibold dashboard-text-center">+4</div>
                      </div>
                  </div>
              </div>
              <div class="info dashboard-d-flex dashboard-align-items-center dashboard-justify-content-space-between">
                  <div>
                      <span class="dashboard-d-block gray-color fs-14 dashboard-mb-5">245</span>
                      <span class="dashboard-d-block gray-color fs-16 dashboard-fw-semibold">Design Project</span>
                  </div>
                  <div>
                      <span class="dashboard-d-block gray-color fs-14 dashboard-mb-5">1085/765</span>
                      <span class="dashboard-d-block gray-color fs-16 dashboard-fw-semibold">Task Reports</span>
                  </div>
                  <div>
                      <a mat-raised-button class="gray" routerLink="/">View Details <i class="flaticon-chevron"></i></a>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="dashboard-col-sm-6">
      <mat-card class="dashboard-mb-25 p-team-card tagus-card">
          <mat-card-header>
              <div>
                  <dashboard-h5 class="dashboard-mb-8">Frontend Developer Team</dashboard-h5>
                  <p>Contrary to popular belief, lorem Ipsum is not simply</p>
              </div>
              <div>
                  <button type="button" mat-button class="dashboard-position-relative dot-btn dashboard-p-0 border-none" [matMenuTriggerFor]="monthMenu">
                      <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Open Project
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Edit
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none dashboard-position-relative">
                          Delete
                      </button>
                  </mat-menu>
              </div>
          </mat-card-header>
          <mat-card-content>
              <div class="dashboard-d-flex dashboard-align-items-center dashboard-justify-content-space-between">
                  <div class="dashboard-d-flex dashboard-align-items-center">
                      <img src="../../../assets/img/user/user8.jpg" class="rounded-circle" width="60" alt="user">
                      <div class="dashboard-title ms-15">
                          <dashboard-h5 class="dashboard-mb-5">Willie Miller</dashboard-h5>
                          <span class="dashboard-d-block main-color">Team Leader</span>
                      </div>
                  </div>
                  <div class="list">
                      <div class="images dashboard-d-flex dashboard-align-items-center">
                          <img src="../../../assets/img/user/user24.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user23.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user22.jpg" class="rounded-circle" width="40" alt="user">
                          <div class="d-inline-block rounded-circle dashboard-fw-semibold dashboard-text-center">+4</div>
                      </div>
                  </div>
              </div>
              <div class="info dashboard-d-flex dashboard-align-items-center dashboard-justify-content-space-between">
                  <div>
                      <span class="dashboard-d-block gray-color fs-14 dashboard-mb-5">321</span>
                      <span class="dashboard-d-block gray-color fs-16 dashboard-fw-semibold">Design Project</span>
                  </div>
                  <div>
                      <span class="dashboard-d-block gray-color fs-14 dashboard-mb-5">2342/213</span>
                      <span class="dashboard-d-block gray-color fs-16 dashboard-fw-semibold">Task Reports</span>
                  </div>
                  <div>
                      <a mat-raised-button class="gray" routerLink="/">View Details <i class="flaticon-chevron"></i></a>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
