<div class="workspace-row">
  <div class="workspace-col-sm-6">
      <mat-card class="workspace-mb-25 p-team-card tagus-card">
          <mat-card-header>
              <div>
                  <workspace-h5 class="workspace-mb-8">UI/UX Design Team</workspace-h5>
                  <p>Contrary to popular belief, lorem Ipsum is not simply</p>
              </div>
              <div>
                  <button type="button" mat-button class="workspace-position-relative dot-btn workspace-p-0 border-none" [matMenuTriggerFor]="monthMenu">
                      <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Open Project
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Edit
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Delete
                      </button>
                  </mat-menu>
              </div>
          </mat-card-header>
          <mat-card-content>
              <div class="workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
                  <div class="workspace-d-flex workspace-align-items-center">
                      <img src="../../../assets/img/user/user12.jpg" class="rounded-circle" width="60" alt="user">
                      <div class="workspace-title ms-15">
                          <workspace-h5 class="workspace-mb-5">Jason Haston</workspace-h5>
                          <span class="workspace-d-block main-color">Team Leader</span>
                      </div>
                  </div>
                  <div class="list">
                      <div class="images workspace-d-flex workspace-align-items-center">
                          <img src="../../../assets/img/user/user15.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user17.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user16.jpg" class="rounded-circle" width="40" alt="user">
                          <div class="d-inline-block rounded-circle workspace-fw-semibold workspace-text-center">+4</div>
                      </div>
                  </div>
              </div>
              <div class="info workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
                  <div>
                      <span class="workspace-d-block gray-color fs-14 workspace-mb-5">245</span>
                      <span class="workspace-d-block gray-color fs-16 workspace-fw-semibold">Design Project</span>
                  </div>
                  <div>
                      <span class="workspace-d-block gray-color fs-14 workspace-mb-5">1085/765</span>
                      <span class="workspace-d-block gray-color fs-16 workspace-fw-semibold">Task Reports</span>
                  </div>
                  <div>
                      <a mat-raised-button class="gray" routerLink="/">View Details <i class="flaticon-chevron"></i></a>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="workspace-col-sm-6">
      <mat-card class="workspace-mb-25 p-team-card tagus-card">
          <mat-card-header>
              <div>
                  <workspace-h5 class="workspace-mb-8">Frontend Developer Team</workspace-h5>
                  <p>Contrary to popular belief, lorem Ipsum is not simply</p>
              </div>
              <div>
                  <button type="button" mat-button class="workspace-position-relative dot-btn workspace-p-0 border-none" [matMenuTriggerFor]="monthMenu">
                      <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Open Project
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Edit
                      </button>
                      <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                          Delete
                      </button>
                  </mat-menu>
              </div>
          </mat-card-header>
          <mat-card-content>
              <div class="workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
                  <div class="workspace-d-flex workspace-align-items-center">
                      <img src="../../../assets/img/user/user8.jpg" class="rounded-circle" width="60" alt="user">
                      <div class="workspace-title ms-15">
                          <workspace-h5 class="workspace-mb-5">Willie Miller</workspace-h5>
                          <span class="workspace-d-block main-color">Team Leader</span>
                      </div>
                  </div>
                  <div class="list">
                      <div class="images workspace-d-flex workspace-align-items-center">
                          <img src="../../../assets/img/user/user24.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user23.jpg" class="rounded-circle" width="40" alt="user">
                          <img src="../../../assets/img/user/user22.jpg" class="rounded-circle" width="40" alt="user">
                          <div class="d-inline-block rounded-circle workspace-fw-semibold workspace-text-center">+4</div>
                      </div>
                  </div>
              </div>
              <div class="info workspace-d-flex workspace-align-items-center workspace-justify-content-space-between">
                  <div>
                      <span class="workspace-d-block gray-color fs-14 workspace-mb-5">321</span>
                      <span class="workspace-d-block gray-color fs-16 workspace-fw-semibold">Design Project</span>
                  </div>
                  <div>
                      <span class="workspace-d-block gray-color fs-14 workspace-mb-5">2342/213</span>
                      <span class="workspace-d-block gray-color fs-16 workspace-fw-semibold">Task Reports</span>
                  </div>
                  <div>
                      <a mat-raised-button class="gray" routerLink="/">View Details <i class="flaticon-chevron"></i></a>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
