<div class="dashboard-create-dialog-box">
  <div class="dashboard-title dashboard-d-flex dashboard-align-items-center dashboard-justify-content-space-between">
      <h4 class="dashboard-mb-0">Rename Project</h4>
      <button class="close-btn bg-transparent dashboard-p-0 border-none" (click)="hide()"><i class="flaticon-close"></i></button>
  </div>
  <form>
      <div class="dashboard-form-group">
          <label class="dashboard-d-block dashboard-fw-semibold">Project Name</label>
          <input matInput [(ngModel)]="projectNewName" name="renameProject" class="input-folder-name">
      </div>
      <div class="text-end">
          <button type="button" (click)="save()"><i class="ri-edit-line"></i>Rename</button>
      </div>
  </form>
</div>
