<div
  class="workspace-breadcrumb-card workspace-mb-25 workspace-d-md-flex workspace-align-items-center workspace-justify-content-space-between">
  <workspace-h5 class="workspace-mb-0">File Manager</workspace-h5>
  <ol class="workspace-breadcrumb workspace-mb-0 workspace-ps-0">
    <li class="workspace-breadcrumb-item">
      <a routerLink="/">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="workspace-breadcrumb-item workspace-fw-semibold">File Manager</li>
  </ol>
</div>

<div class="workspace-row">
  <div class="workspace-col-lg-8 workspace-col-xxl-12">
    <div class="workspace-row">
      <div class="workspace-col-sm-6 workspace-col-xxl-3" *ngFor="let project of lProject">
        <mat-card class="workspace-mb-25 tagus-card workspace-card-box">
          <mat-card-header class="workspace-mb-0">
            <mat-checkbox class="fm-checkbox"></mat-checkbox>
            <button type="button" mat-button
              class="workspace-position-relative dot-btn workspace-p-0 bg-transparent border-none"
              [matMenuTriggerFor]="monthMenu">
              <i class="ri-more-fill"></i>
            </button>
            <mat-menu #monthMenu="matMenu" class="dotMenu monthMenu" xPosition="before">
              <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative"
                (click)="showRenameDialog(project)">
                <i class="ri-edit-line"></i> Rename
              </button>
              <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative">
                <i class="ri-download-cloud-2-line"></i> Download
              </button>
              <button mat-menu-item type="button" class="bg-transparent border-none workspace-position-relative"
                (click)="deletelProject(project)">
                <i class="ri-delete-bin-line"></i> Remove
              </button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content>
            <div class="workspace-pt-50 workspace-pb-50 workspace-text-center">
              <img src="../../../assets/img/icon/folder.png" alt="folder">
              <span class="workspace-d-block workspace-fw-semibold mt-10"><a
                  routerLink="/file-manager/projects">{{project.name}}</a></span>
            </div>
            <div class="workspace-d-flex workspace-justify-content-space-between workspace-align-items-center">
              <span class="workspace-d-block gray-color">387 Files</span>
              <span class="workspace-d-block gray-color">4.5 GB</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-card class="workspace-mb-25 tagus-card">
      <mat-card-header>
        <workspace-h5 class="workspace-mb-0">Recent Projects</workspace-h5>
        <button mat-flat-button class="default-btn tagus" (click)="showCreateProjectDialog()">
          <i class="ri-add-fill"></i> Create Project
        </button>
      </mat-card-header>
      <mat-card-header>
        <workspace-h5 class="workspace-mb-0">Recent Files</workspace-h5>
        <button mat-flat-button class="default-btn tagus" (click)="openCreateFolderDialog('300ms', '100ms')">
          <i class="ri-add-fill"></i> Create Folder
        </button>
      </mat-card-header>
      <mat-card-content>
        <div class="recent-files-table table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="workspace-fw-semibold main-color">Name</th>
                <th class="workspace-fw-semibold gray-color">Owner</th>
                <th class="workspace-fw-semibold gray-color">File Size</th>
                <th class="workspace-fw-semibold gray-color">Listed Date</th>
                <th class="workspace-fw-semibold gray-color">File Item</th>
                <th class="workspace-fw-semibold gray-color">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="name-info d-flex align-items-center">
                    <img src="../../../assets/img/icon/folder.png" alt="folder">
                    <workspace-h5 class="workspace-fw-semibold workspace-mb-0">Product UI/UX Design</workspace-h5>
                  </div>
                </td>
                <td class="gray-color">Danielle Thompson</td>
                <td class="gray-color">0.7 GB</td>
                <td class="gray-color">Mar 08, 2023</td>
                <td class="gray-color">02</td>
                <td>
                  <button type="button" mat-button
                    class="position-relative dot-btn workspace-p-0 bg-transparent border-none"
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-share-line"></i> Share
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-link"></i> Get Sharable Link
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-edit-line"></i> Rename
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-download-cloud-line"></i> Download
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-delete-bin-line"></i> Remove
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="name-info d-flex align-items-center">
                    <img src="../../../assets/img/icon/folder.png" alt="folder">
                    <workspace-h5 class="workspace-fw-semibold workspace-mb-0">App Design & Development</workspace-h5>
                  </div>
                </td>
                <td class="gray-color">Coder Themes</td>
                <td class="gray-color">521 MB</td>
                <td class="gray-color">Feb 13, 2023</td>
                <td class="gray-color">06</td>
                <td>
                  <button type="button" mat-button
                    class="position-relative dot-btn workspace-p-0 bg-transparent border-none"
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-share-line"></i> Share
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-link"></i> Get Sharable Link
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-edit-line"></i> Rename
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-download-cloud-line"></i> Download
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-delete-bin-line"></i> Remove
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="name-info d-flex align-items-center">
                    <img src="../../../assets/img/icon/folder.png" alt="folder">
                    <workspace-h5 class="workspace-fw-semibold workspace-mb-0">Ubold-sketch-design.zip</workspace-h5>
                  </div>
                </td>
                <td class="gray-color">Gary Coley</td>
                <td class="gray-color">64.2 MB</td>
                <td class="gray-color">Dec 18, 2022</td>
                <td class="gray-color">03</td>
                <td>
                  <button type="button" mat-button
                    class="position-relative dot-btn workspace-p-0 bg-transparent border-none"
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-share-line"></i> Share
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-link"></i> Get Sharable Link
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-edit-line"></i> Rename
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-download-cloud-line"></i> Download
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-delete-bin-line"></i> Remove
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="name-info d-flex align-items-center">
                    <img src="../../../assets/img/icon/folder.png" alt="folder">
                    <workspace-h5 class="workspace-fw-semibold workspace-mb-0">Annualreport.pdf</workspace-h5>
                  </div>
                </td>
                <td class="gray-color">Cooper Sharwood</td>
                <td class="gray-color">12.5 GB</td>
                <td class="gray-color">Nov 29, 2022</td>
                <td class="gray-color">05</td>
                <td>
                  <button type="button" mat-button
                    class="position-relative dot-btn workspace-p-0 bg-transparent border-none"
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-share-line"></i> Share
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-link"></i> Get Sharable Link
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-edit-line"></i> Rename
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-download-cloud-line"></i> Download
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-delete-bin-line"></i> Remove
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="name-info d-flex align-items-center">
                    <img src="../../../assets/img/icon/folder.png" alt="folder">
                    <workspace-h5 class="workspace-fw-semibold workspace-mb-0">Wireframes</workspace-h5>
                  </div>
                </td>
                <td class="gray-color">Jasper Rigg</td>
                <td class="gray-color">8.3 MB</td>
                <td class="gray-color">Nov 25, 2022</td>
                <td class="gray-color">01</td>
                <td>
                  <button type="button" mat-button
                    class="position-relative dot-btn workspace-p-0 bg-transparent border-none"
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                  </button>
                  <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-share-line"></i> Share
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-link"></i> Get Sharable Link
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-edit-line"></i> Rename
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-download-cloud-line"></i> Download
                    </button>
                    <button mat-menu-item type="button" class="bg-transparent border-none position-relative">
                      <i class="ri-delete-bin-line"></i> Remove
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="workspace-mb-25 tagus-card">
      <mat-card-header>
        <workspace-h5 class="workspace-mb-0">Documents</workspace-h5>
        <button mat-flat-button class="default-btn tagus" (click)="openCreateDocumentDialog('300ms', '100ms')">
          <i class="ri-add-fill"></i> Create Document
        </button>
      </mat-card-header>
      <mat-card-content>
        <div class="files-list workspace-d-flex workspace-flex-wrap">
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/jpg.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">sketch-design.zip</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/jpg.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">Compile.png</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/pdf2.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">Integrations.pdf</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/txt.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">contact&#64;32.txt</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/doc.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">app-Design.doc</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/png.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">image02.png</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/doc.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">Ubold-sketch.doc</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/txt.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">Annualreport.txt</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/xl4.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">Wireframes.xl4</a></span>
            </div>
          </div>
          <div class="file-item">
            <div class="bg-gray workspace-text-center mt-15 ps-20 pe-20 workspace-pt-50 workspace-pb-50 border-radius">
              <img src="../../../assets/img/icon/jpg.png" alt="jpg">
              <span class="d-block workspace-fw-semibold mt-15 gray-color"><a routerLink="/file-manager/projects"
                  class="gray-color">contact&#64;32.jpg</a></span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
